button {
  background: transparent;
  border: 2px solid #666;
  color: #666;
  display: block;
  font-family: inherit;
  font-size: 20pt;
  line-height: 60px;
  margin: auto;
  width: 110px;
  -webkit-appearance: none;

}
button:hover {
  border-color: #000;
  color: #000;
}
button:active {
  background: #000;
  border-color: #000;
  color: #eee;
}
button:focus {
  outline: 0;
}
